/* Style for blackjack */

h1{
    color:red;
    font-size:3em;
}
body {
    
    color:white;
    background-color:black;
    text-align:center;
    padding:10px;

}

button{
    
    width:10%;
    background-color:red;
    border:1px solid black;
    color:black;
    padding:5px;
    font-size:1.2em;
    border-radius:10px;
}
p{
    font-size:1.2em;
}